.calendar-container {
	font-size: 62.5%;
	width: 70%;
	margin: 30px auto;
	border-radius: 15px;
	color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar {
	width: 45rem;
	height: 52rem;
}

.month {
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	text-align: center;
}

.month i {
	font-size: 3rem;
	cursor: pointer;
}

.month h1 {
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
}

.month p {
	font-size: 1.6rem;
}

.weekdays {
	width: 100%;
	height: 5rem;
	padding: 0 0.4rem;
	display: flex;
	align-items: center;
}

.weekdays div {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	width: calc(44.2rem / 7);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #c40b3b;
}

.days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0.2rem;
}

.days div {
	font-size: 1.4rem;
	margin: 0.3rem;
	width: calc(40.2rem / 7);
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s;
}

.days div:hover:not(.today) {
	background-color: #f5f4f4;
	border: 0.2rem solid rgb(99, 98, 98);
	cursor: pointer;
}
.prev-date,
.next-date {
	opacity: 0.5;
}

.today {
	background-color: #c40b3b;
	color: #fff;
}

.date {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 780px) {
	.calendar-container {
		width: 100%;
		margin: 0;
	}
}
