/*
Custom
*/

:root {
	--primary: #c40b3b;
	--primaryHover: #b30b37;
}

.bg-red {
	background-color: var(--primary);
	color: #fff;
	border: var(--primary);
}
.bg-red:hover {
	background-color: var(--primaryHover);
	color: #fff;
	border: var(--primaryHover);
}
button.bg-red {
	width: 250px;
	height: 50px;
}
button.btn-review-quiz {
	width: 250px;
	height: 50px;
}
a.dashboard-buttons {
	width: 250px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.text-green {
	color: #4bb543;
}
.quiz-icon-main {
	font-size: 100px;
}

#final_score {
	font-weight: bold;
}

.time-container {
	width: 150px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.errors {
	background-color: rgba(255, 51, 51, 0.7);
	padding: 20px;
	margin: 10px 35px;
	border: 1px solid #ff3333;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.success-message {
	background-color: #4bb543;
	padding: 20px;
	margin: 10px 35px;
	border: 1px solid #4bb5;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*
End of Custom
*/

/*
   * Extra utilities
   */

.flex-equal > * {
	flex: 1;
}
@media (min-width: 768px) {
	.flex-md-equal > * {
		flex: 1;
	}
}
